main.main {
  display: flex;
  flex-wrap: wrap;
}
body {
  &.archive {
    .page-header {
      h1 {
        text-align: center;
        margin-bottom: 4rem;
        font-size: 3rem;
      }
    }
  }
}
