header {
  &.banner {
    .site-logo {
      text-align: center;
      .brand {
        display: inline-block;
        img {
          display: block;
          margin: 2rem auto;
        }
      }
    }
  }
}