body {
  &.home {
    .jscroll-added {
      .main {
        transition: .15s;
        transform: translateY(-10px);
        opacity: 0;
        &.show {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    .first-post,
    .previous-post {
      position: relative;
      flex-basis: 100%;
      min-height: 40rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 20%;
      border: 1px solid white;
      @media (min-width: 991px) {
        transform: scale(1, 1) translateZ(0);
        backface-visibility: hidden;
        transition: .15s ease-in;
        will-change: transform;
        &:hover {
          transform: scale(1.01, 1.01);
          z-index: 3;
          //box-shadow: 0 5px 50px rgba(0,0,0,.6);
          border: 1px solid transparent;
        }
      }
      a {
        text-decoration: none;
      }
      .post-date {
        flex-basis: 25%;
        color: white;
        font-size: 2rem;
        line-height: normal;
        &__date {
          text-transform: uppercase;
        }
        &__year {
          font-size: 3.2rem;
        }
      }
      @extend .darken-image;
      .post-date,
      .post-title,
      .post-categories,
      .read-more {
        position: relative;
        z-index: 2;
      }
      .post-content,
      .post-details {
        display: flex;
        flex-wrap: wrap;
      }
      .post-content {
        padding: 1rem;
        text-shadow: 2px 2px 0 rgba(0,0,0,.5);
      }
      .post-details {
        position: absolute;
        bottom: 1rem;
        left: 0;
        padding-right: 1rem;
        width: 100%;
        align-items: flex-end;
        justify-content: flex-end;
      }
      .post-title {
        flex-basis: 75%;
        h2 {
          text-transform: uppercase;
          text-align: right;
          color: white;
          font-size: 3.6rem;
          font-weight: bold;
          margin-bottom: 0;
        }
      }
      .post-categories {
        text-align: right;
        flex-basis: 50%;
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
            display: inline-block;
            color: white;
            text-transform: uppercase;
            font-size: 1.2rem;
            &:not(:last-child) {
              &:after {
                content: "•";
                color: white;
                margin-left: .5rem;
                margin-right: .5rem;
              }
            }
          }
        }
      }
      .read-more {
        flex-basis: 50%;
        text-align: right;
        text-transform: uppercase;
        font-size: 1.6rem;
        color: white;
        text-decoration: underline;
        transition: .2s ease-in;
        &:hover {
          text-decoration: none;
          color: $brand-primary;
        }
      }
    }

    .previous-post {
      flex-basis: 50%;
      min-height: 30rem;
      .post-content {
        .post-date {
          line-height: 2rem;
          &__date {
            font-size: 2rem;
          }
          &__year {
            font-size: 2.8rem;
          }
        }
        .post-title {
          h2 {
            font-size: 2.6rem;
          }
        }
      }
      .post-categories {
        flex-basis: 100%;
        ul {
          li {
            font-size: 1.2rem;
          }
        }
      }
    }
    @media (max-width: 767px) {
      .post-liftup {
        justify-content: center;
      }
      .first-post,
      .previous-post {
        flex-basis: 100%;
        .post-categories {
          flex-basis: 100%;
        }
      }
      .previous-post {
        min-height: 25rem;
      }
    }
    @media (max-width: 575px) {
      .first-post,
      .previous-post {
        .post-content {
          .post-date,
          .post-title {
            flex-basis: 100%;
            margin-bottom: .5rem;
            h2 {
              text-align: center;
              font-size: 2.8rem;
            }
          }
          .post-date {
            display: flex;
            justify-content: center;
            order: 2;
            font-size: 1.8rem;
            margin-bottom: 3rem;
            &__date {
              margin-right: .5rem;
            }
            &__year {
              font-size: inherit;
            }
          }
          .post-title {
            order: 1;
          }
        }
      }
    }
    @media (max-width: 450px) {
      .first-post,
      .previous-post {
        &.post-liftup {
          display: flex;
          align-items: center;
        }
        .post-content {
          .post-title {
            h2 {
              font-size: 2.2rem;
            }
          }
        }
      }
    }
  }
}
